<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1456" />
    <add key="mainForm.Height" value="886" />
    <add key="/lpc/it8718f/voltage/0/plot" value="false" />
    <add key="/lpc/it8718f/voltage/1/plot" value="false" />
    <add key="/lpc/it8718f/voltage/2/plot" value="false" />
    <add key="/lpc/it8718f/voltage/3/plot" value="false" />
    <add key="/lpc/it8718f/voltage/4/plot" value="false" />
    <add key="/lpc/it8718f/voltage/5/plot" value="false" />
    <add key="/lpc/it8718f/voltage/6/plot" value="false" />
    <add key="/lpc/it8718f/voltage/7/plot" value="false" />
    <add key="/lpc/it8718f/voltage/8/plot" value="false" />
    <add key="/lpc/it8718f/temperature/2/plot" value="false" />
    <add key="/lpc/it8718f/fan/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEALv91KSPu/+KBwNDhhNDRicnAxhkOAEAOOy9XBgAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEALv91KSPu/+KB0MDpwtDRicnAwgA2QBSSb3XGAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEALv91KSPu/+Kx9kzx50ZMjo5GYAAxAYAS6TiYRgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEALv91KSPu/+KB+OBFS4MGZ2cDEAAYgMA/7IMHxgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEALv91KSPu/+KBwODgANDVBITAwTYI7EZcIkDAAY/ew88AAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEALv91KSPu/+KBwNDgQNDVBITAxgoILEZcIoDAIAsxds8AAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEALv91KSPu/+KBwMIZHRyMkABANSYHgsYAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEALv91KSPu/+KR8OV9Q4MUUlMDCBQuBHOXpC3xYFhyxEWGBsAw33WuzAAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEALv91KSPu/+KBwODghNDRicnAxgoOAEA8sD9FhgAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGtsNurj7r/iEWGg5cQQlcTEAAQhU/85wNgMD7QdYew962zhbAaGaQ4A0Vw7KjwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGtsNurj7r/icemgiRNDVBITAxCEXX3mAGMzOPg5wtjND2rgbIaGTgcAq08fujwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAGtsNurj7r/icX+evBNDVBITAxCs1uJ2hLEZGjjh7Fc//zggxBc5AADsDCYaPAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGtsNurj7r/iwcDg7sQQlcTEAAY2SGwLHOJmTgDma2GzPAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGtsNurj7r/iwcAQ6MQQlcTEAAYuSGwbJLYjijgAQhJ4tzwAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEALv91KSPu/+KR1m7uzNDRicnAxCA2ABxJp+MGAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFu3xbiPu/+Kh4DcIheGqCQmBiCYuXSqCwOfOjuMDQCzaIf4JAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEALv91KSPu/+Kh4DcIheGqCQmBiCYuXQqnI1LHMQGAOTnTvo8AAAA" />
    <add key="/lpc/it8718f/voltage/0/values" value="H4sIAAAAAAAEAGOUOt3H3X/FQ1p/rj1DVBITAxDsLZkMZwf2TkcRv6yRCGbvnz/LHgAgOvg2PAAAAA==" />
    <add key="/lpc/it8718f/voltage/1/values" value="H4sIAAAAAAAEAGOUOt3H3X/F41rFS/vLZh2cDEAAYgMAuv2AFhgAAAA=" />
    <add key="/lpc/it8718f/voltage/2/values" value="H4sIAAAAAAAEAGOUOt3H3X/FI9IyxIEhKomJAQgeVSHYyOIg9mWNRLgaADLU7TA8AAAA" />
    <add key="/lpc/it8718f/voltage/3/values" value="H4sIAAAAAAAEAGOUOt3H3X/FwyH8tsNlsw5OBiAAsQHmFEpyGAAAAA==" />
    <add key="/lpc/it8718f/voltage/4/values" value="H4sIAAAAAAAEAGOUOt3H3X/FY4qEiwNDVBITAxAsm+3icPmOKjuMDQAsrQqrJAAAAA==" />
    <add key="/lpc/it8718f/voltage/5/values" value="H4sIAAAAAAAEAGOUOt3H3X/FY/nsIzYMUUlMDEDAdX0xVrZTwlObyxqJYDY3UBwAIIG4BTwAAAA=" />
    <add key="/lpc/it8718f/voltage/6/values" value="H4sIAAAAAAAEAGOUOt3H3X/FI+Sxqj1DVBITAxC0HOiCsznWyMDZLGF99pc1EsHs4oyJ9gBLh47ePAAAAA==" />
    <add key="/lpc/it8718f/voltage/7/values" value="H4sIAAAAAAAEAGOUOt3H3X/FI7a/yeGyWQcnAxCA2AAliX1RGAAAAA==" />
    <add key="/lpc/it8718f/voltage/8/values" value="H4sIAAAAAAAEAGOUOt3H3X/FQzDC0uGyWQcnAxCA2AB8lJa6GAAAAA==" />
    <add key="/lpc/it8718f/temperature/0/values" value="" />
    <add key="/lpc/it8718f/temperature/1/values" value="" />
    <add key="/lpc/it8718f/temperature/2/values" value="H4sIAAAAAAAEAGOUOt3H3X/Fg4GBxYkhKomJAQx+OCLY35DYXxwvayRC2R8cAdtkgOg8AAAA" />
    <add key="/lpc/it8718f/fan/0/values" value="H4sIAAAAAAAEAGOUOt3H3X/F43g8tytDVBITAxCctWfByo5UZXG9rJEIFwcA3dPg9jwAAAA=" />
    <add key="/lpc/it8718f/fan/1/values" value="H4sIAAAAAAAEAGOUOt3H3X/FgwEILpt1cDJAAQBBupb5GAAAAA==" />
    <add key="/lpc/it8718f/fan/2/values" value="H4sIAAAAAAAEAGOUOt3H3X/FgwEILpt1cDJAAQBBupb5GAAAAA==" />
    <add key="/lpc/it8718f/fan/3/values" value="" />
    <add key="/lpc/it8718f/fan/4/values" value="" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>